/* Variables */
:root {
  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  /* Colors */
  --main-cl: #111111;
  --primary-cl: ;
  --secondary-cl: ;
  --accent-cl: #fd9222;
  --light-cl: #fff;
  --light-cl-70: rgba(255, 255, 255, 0.7);

  /* Background colors */
  --main-bg-cl: #fafafa;
  --light-bg-cl: rgba(17, 17, 17, 0.7);
  --dark-bg-cl: #1e1823;
  --beige-bg-cl: #fcf1e0;

  /* Other */
  --items: 4;
  --indent-col: 32px;
  --indent-row: 32px;
}
/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--main-font);
  color: var(--main-cl);
  background-color: var(--main-bg-cl);
}
/* reset start */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  color: currentColor;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* reset end */

/**
  |============================
  | Base styles
  |============================
*/
.section {
  padding: 60px 0;
}
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
.section-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-cl);
}
.section-title-accent {
  color: var(--accent-cl);
}
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--light-cl);

  background-color: transparent;
  border-radius: 100px;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn-accent {
  background-color: var(--accent-cl);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accent-cl);
  background-color: var(--beige-bg-cl);
}
.btn-light {
  color: var(--light-cl);
  border-color: var(--light-cl);
}
.btn-light:hover,
.btn-light:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}
.btn-dark {
  display: block;
  margin: 0 auto;

  font-size: 18px;
  color: currentColor;
  border: 1px solid var(--accent-cl);
}
.btn-dark:hover,
.btn-dark:focus {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}
.card-set-item {
  flex-basis: calc(
    (100% - var(--indent-col) * (var(--items) - 1)) / var(--items)
  );
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 365px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-italic {
  font-style: italic;
}
.header-logo-icon {
}
.header-list {
  display: flex;
  gap: 24px;
}
.header-list-item {
}
.header-list-link {
  display: block;
  padding: 32px 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-cl);
}
.header-socials {
  display: flex;
  gap: 14px;
}
.header-socials-item {
}
.header-socials-link {
}
.header-socials-icon {
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  max-width: 1136px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding: 381px 40px 40px 40px;
  border-radius: 30px;
  background-color: var(--light-bg-cl);
}
.hero-title {
  margin-bottom: 32px;
  width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--light-cl);
}
.hero-wrapper {
  display: flex;
}
.hero-buy-now-btn {
  margin-right: 14px;
}
.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 0;
  margin-left: auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--light-cl);

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-cl);
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  padding: 50px 0;
  background-color: var(--dark-bg-cl);
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-list-item {
  width: 308px;
}
.benefits-list-title {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-cl);
}
.benefits-list-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--light-cl-70);
}
/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  padding-top: 120px;
}
.ingridients-list {
}
.ingridients-item {
  padding: 28px 23px;
  border-radius: 15px;
  background-color: var(--light-cl);
}
.ingridients-item:nth-child(4n + 1) {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}
.ingridients-item:nth-child(4n + 3) {
  color: var(--light-cl);
  background-color: var(--dark-bg-cl);
}
.ingridients-item:nth-child(2n) {
  border: 1px solid var(--accent-cl);
}
.ingridients-img {
}
.ingridients-caption {
  margin-top: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-title {
}
.made-pic {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/**
  |============================
  | Products styles
  |============================
*/
.products {
  background-color: var(--light-bg);
}
.products-title {
}
.products-list {
  --indent-col: 18px;
  --indent-row: 24px;
}
.products-item {
  padding: 32px 20px;

  background-color: var(--light-cl);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.products-ill {
}
.products-wrapper {
  padding-top: 8px;
  text-align: center;
}
.products-heading {
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-category {
  margin-bottom: 18px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.products-price {
  width: fit-content;
  padding: 8px 20px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--main-bg-cl);
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  --items: 3;
  --indent-col: 16px;
}
.bestsellers-item {
  background-color: var(--light-cl);
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}
.bestsellers-img {
}
.bestsellers-caption {
  padding: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;

  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background: var(--light-cl);
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
}
.reviews-title {
}
.reviews-list {
  --items: 3;
  --indent-col: 28px;

  margin-bottom: 50px;
}
.reviews-item {
  background-color: var(--light-cl);
}
.reviews-avatar {
}
.reviews-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding: 50px 0;
  background-color: var(--dark-bg-cl);
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  font-style: normal;
}
.footer-address-subject {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--light-cl);
}
.footer-socials {
}
.footer-contatcs {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-cl);
}
/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Contacts */
.contacts {
}
.contacts-item {
}
.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-cl);
}
